@import '../../../styles.scss';


.background-video {
  height: 100vh - $navheight;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;


  video {
    min-width: 100%;
    min-height: 100%;
  }

}

.placeholder {
  color: white;
}


.login-input {
  width: 100%;


  margin-bottom: 50px;
  margin-top: 20px;
  height: 100%;

  color: white;

}

::ng-deep .mat-form-field-underline .mat-form-field-ripple {

  background-color: $accent2 !important;
}

::ng-deep .mat-form-field-underline {

  background-color: $accent !important;
}


.login-container {

  height: 100vh - $navheight;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;

  align-items: center;
  justify-content: center;
  position: relative;

  .login-box {
    min-height: 50vh;
    min-width: 40vw;
    margin: auto;
    background-color: rgba($color: black, $alpha: .4);
    display: flex;
    justify-content: center;
    align-items: center;

    .login-card {
      margin: auto;
      width: 40%;
      display: flex;
      flex-direction: column;
      min-height: 25vh;
      background-color: rgba($color: $primary, $alpha: .7);

      #login {
        color: white;
        background-color: $accent;
        align-self: center;
        width: 20%;
      }


    }
  }
}

@media only screen and (max-width: 600px) {
  .login-container {

    background-image: url(../../../assets/avocado-cooked-delicious-dish-262959.jpg);

    .login-box {
      width: 90%;


      .login-card {
        width: 40%;



      }
    }
  }
}
