<!-- <h2 mat-dialog-title>Create Cookbook</h2>

<mat-dialog-content class="mat-typography">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Cookbook title</mat-label>
      <input [(ngModel)]="title" matInput placeholder="Title" value='{{createCookbook.title}}'>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Discription</mat-label>
      <textarea [(ngModel)]="description" matInput placeholder="Discription" value='{{createCookbook.description}}'></textarea>

    </mat-form-field>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="newCookBook()">Create Cookbook</button>
</mat-dialog-actions> -->

<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content *ngIf = "cookbook">
  <div class="example-container">
    <p>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input  [(ngModel)]="cookbook.title" matInput>

    </mat-form-field>
    </p>
    <p>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea  [(ngModel)]="cookbook.description" matInput></textarea>

    </mat-form-field>
    </p>
  </div>


</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button [mat-dialog-close]="true" (click)="newCookBook()" >Create Cookbook</button>
</div>

