<h1 mat-dialog-title>Recipes</h1>
<mat-dialog-content class="mat-typography">
  <div  *ngIf = 'data.recipes'>
   <div class = "single-recipe" *ngFor = 'let recipe of data.recipes'>

    <div>
    <button mat-button mat-dialog-close class = "get-recipe-button" [routerLink]="['/recipe/'+ recipe.id]"><em class="fas fa-utensils"></em>
        </button>
      </div>
      <div>
        <h3>{{recipe.name}}</h3>
        <p>{{recipe.description}}</p>

      </div>
    </div>
  </div>
</mat-dialog-content>

