@import '../../../styles.scss';




.fas{
color: $accent2;
margin: auto;

}

.sidenav{
 width: 25%;
}



.navbar{
height: $navheight;
display: flex;
overflow-y: hidden;
justify-content: flex-start;
background-color: $primary;
color:white;

#signup{
  justify-self: flex-end;
  margin-left: 0%;
}
}

.spacer {
  flex: 1 1 auto;
}
.title{
  color: $accent2;
}
.titlespacer{
  flex: 1.05 1 auto;
}

.content{
  height: 100%;
}

@media only screen and (max-height: 800px){
  #signup{
    line-height: 30px !important;

  }

}



@media only screen and (max-width: 600px){
  #signup{
    line-height: 28px !important;
    min-width: 60px !important;
  }
  .titlespacer{
    flex: 2 1 auto;
  }
}
