<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
  fixedInViewport
  [attr.role]=" 'navigation'"
  [mode]=" 'over' "
  [opened]= false
  >

  <mat-toolbar class="navbar">
    <em class="fas fa-utensils fa-5x"></em>
  </mat-toolbar>

  <mat-nav-list>
    <a mat-list-item href="#">Link 1</a>
    <a mat-list-item href="#">Link 2</a>
    <a mat-list-item href="#">Link 3</a>
  </mat-nav-list>
</mat-sidenav>

<mat-sidenav-content>
<mat-toolbar class="navbar">
  <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.open()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
<span class=" titlespacer"></span>
<span>Cook</span>
<span class="title">Books</span>
<span class="spacer"></span>
<button  mat-raised-button type="button" id = "signup">Signup</button>
</mat-toolbar>
<ng-content></ng-content>
</mat-sidenav-content>
</mat-sidenav-container>
